<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Makes website fit user screen -->
    <meta name="description" content="Placeholder"> <!-- Description of a page when searching it online -->
    <meta name="keywords" content="Placeholder"> <!-- Specifies keywords (comma separated w/ no spaces) to help SEO catalogue the page -->
    <meta name="author" content="Placeholder"> <!-- Name of the author of the page -->
    <title>Brady/Garza Website</title> <!-- Name of the tab in a browser -->
    <link rel="stylesheet" type="text/css" href="../static/styles/full_landing_page.css"> <!-- Link to external CSS file -->

</head>
<body>

    <!-- NAV BAR -->
    <nav>
        <ul class="navbar">
            <li><h1 onclick="scrollToTop()">Company/Website Name or Logo</h1></li>
            <li><button onclick="scrollToContent('manufacturers')">Manufacturers</button></li>
            <li><button onclick="scrollToContent('suppliers')">Suppliers</button></li>
            <li><button onclick="scrollToContent('contact')">Contact Us</button></li>
            <li><button>
                <a href="/login">Log In</a>
            </button></li>
        </ul>
    </nav>

    <!-- STOCK IMAGE -->
    <img src="../static/materials.jpg" alt="Materials Image" class="background-photo">

    <!-- CONTENT -->
    <div class="content-wrapper">

        <!-- CONTENT 1 -->
        <div class="content" id="manufacturers">
            <p>Manufacturers</p>
        </div>

        <!-- CONTENT 2 -->
        <div class="content" id="suppliers">
            <p>Suppliers</p>
        </div>

        <!-- CONTENT 3 -->
        <div class="content" id="contact">
            <p>Contact Us</p>
        </div>
        
    </div>

    <script>
        function scrollToContent(contentId) {
            var contentElement = document.getElementById(contentId);
            if (contentElement) { contentElement.scrollIntoView({ behavior: 'smooth' }); }
        }

        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    </script>
</body>
</html>