<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Marketplace View</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/marketplace-view.css">

</head>
<body>

    <button class="signin" type="button" onclick="window.location.href='/'">Home Page</button>
    <button class="signin" type="button" onclick="window.location.href='/marketplace-post'">Marketplace Posting Page</button>

    <h1>Marketplace</h1>

    {% if posts %}
    <div id="posts">
        <h2>Submitted Posts</h2>
        <ul>
            {% for post in posts %}
            <li class="post-item">
                <div class="post-title"><strong>Title:</strong> {{ post.title }}</div>
                <div class="post-material"><strong>Material:</strong> {{ post.material }}</div>
                <div class="post-usage"><strong>Usage:</strong> {{ post.usage }}</div>
                <div class="post-minquan"><strong>Minimum Quantity:</strong> {{ post.minquan }}</div>
                <div class="post-certifications"><strong>Certifications:</strong> {{ post.certifications }}</div>
                <div class="post-time"><strong>Time:</strong> {{ post.time }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</body>
</html>
