* {
    margin: 0;
    padding: 0;
    border: none;
}

/* -----NAVIGATION BAR STYLING----- */
nav {
    position: fixed; /* Keep the navbar fixed at the top */
    width: 100%; /* Make the navbar span the full width */
    top: 0; /* Align it to the top */
    overflow: hidden;
}
.navbar {
    background-color: #ffffff;
    height: 10vh;
    top: 0;
    
    display: flex; /* Use flexbox to distribute items evenly */
    list-style-type: none; /* Remove the bullet points from the list */
    justify-content: space-around; /* Distribute items evenly with space around them */
    align-items: center; /* Align items vertically */
}
.navbar h1 { /* Company Name */
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* Distance the company name from navigation button */
    padding-right: 3vw; 
    cursor: default;
}
.navbar li {
    flex: 1; /* Ensure each list item takes up equal space */
    text-align: center;
}
.navbar button {
    display: block;
    background-color: inherit;
    color: rgb(147, 147, 147);
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar button:hover {
    background-color: #b5b4b4;
    /* color: rgb(0, 0, 0); */
    /* text-decoration: underline; */
}
/* -----NAVIGATION BAR STYLING----- */

.background-photo {
    display: block; /* Removes padding underneath image */
    width: 100%;
    
}

.content {
    display: flex;
    justify-content: center;
    padding-top:15vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

#manufacturers {
    height: 80vh;
    background-color: lightgray;
}

#suppliers {
    height: 65vh;
    background-color: #d6d6d6b5;
    /* margin-top:5vh;
    margin-bottom:5vh; */
}

#contact {
    height: 75vh;
    background-color: gray;
}